# Python
.venv/
__pycache__/
*.py[cod]

# PyCharm
.idea/
*.iml

# VS Code
.vscode/

# Environment variables
.env

# Build files
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Ignore generated data, but keep folders
data/bronze/*
!data/bronze/.gitkeep

data/silver/*
!data/silver/.gitkeep

data/gold/*
!data/gold/.gitkeep